  {include file="header.tpl"}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">
                            <h1>Shopping cart</h1>
                            <p class="text-muted">You currently have 
                               <!--  <?php
                                    include_once("orders.php");
                                    $obj=new orders(); 
                                    $s=$obj->countItems($_SESSION['cno']);
                                    echo $s;
                                ?> --> 
                                item(s) in your cart.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th ></th>
                                            <th >Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Total Amount</th>
                                            <th>Remove Item</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody> 
                                     {foreach from=$cartitems item=item}      
                                        <tr>
                                            <th>{$itemsincart = $itemsincart +1} {$itemsincart}</th>
                                            <p hidden> <input type= 'number' id ="tableid" value = {$itemsincart} > </p>
                                            <td>{$item.pname}</td>
                                            <td><input type='number' value= {$item.qty} onclick= "subtotal()" ></td>
                                            <td>{$item.price}</td>
                                            <td class='subtotal'></td>
                                            <td><a  onclick = "deleteitem('{$item.id}')" ><i class='fa fa-trash-o'></i></a></td> 
                                        </tr>
                                     {/foreach}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
                                    
                                    <a href='addorder.php'  class='btn btn-primary'>Place Order <i class='fa fa-chevron-right'></i>                                        
                                    </a>
                                </div>
                            </div>

                    </div>
                    <!-- /.box -->

                    </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th></th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                    <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                    </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

   {include file="footer.tpl"} 
